.SocialMediaButtons {
  padding: 50px 0;
}

.SocialMediaButtons li {
  display: inline-block;
  margin: 0 1.5em;
}

.SocialMediaButtons li a {
  font-size: 3em;
}

/*.SocialMediaButtons li a i {*/
  /*transition: 0.2s;*/
/*}*/

/*.SocialMediaButtons li a:hover i {*/
  /*color: #8c0010;*/
/*}*/

@media screen and (max-width: 1000px) {
  .SocialMediaButtons li a {
    font-size: 2em;
  }
}
