.ContactUs {
  max-width: 1000px;
  margin: auto;
  font-size: 1.2em;
  text-align: center;
  line-height: 1.3;
}

.DirectContact {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .DirectContact {
    flex-wrap: wrap;
    margin-top: 10px;
  }
}

.DirectContact div {
  padding: 0 20px;
}

@media screen and (max-width: 768px) {
  .DirectContact div {
    flex-basis: 100%;
    margin: 10px 0;
  }
}

.DirectContact i {
  padding: 0 10px;
}
