.HeroBanner img {
  width: 100%;
}

.ArticleContainer {
  max-width: 1000px;
  margin: 50px auto;
  padding: 0 1em;
}

.ArticleTitle {
  margin-top: 50px;
}

.ArticleTitle h1 {
  max-width: 800px;
  margin: auto;
  line-height: 1.5;
}

.Spacer {
  width: 200px;
  height: 1px;
  background-color: #ccc;
  margin: 30px auto 40px;
}

.ArticleBody p {
  margin-bottom: 20px;
  text-align: justify;
}

.ArticleBody img {
  display: block;
  width: 100%;
}

.ArticleFooterNavigation {
  padding: 1rem 0 2rem 0;
  text-align: center;
}

.ArticleFooterNavigation .Spacer {
  margin-bottom: 4rem;
}

.ArticleFooterNavigation a {
  margin: 0 20px;
}
