.HeroBanner img {
    width: 100%;
}

.ArticleContainer {
    max-width: 1000px;
    margin: 50px auto;
}

.ArticleTitle {
    margin-top: 50px;
}

.ArticleTitle h2 {
    max-width: 800px;
    margin: auto;
    line-height: 1.5;
}

.ArticleTitle .Spacer {
    width: 200px;
    height: 1px;
    background-color: #cccccc;
    margin: 30px auto 40px;
}

.ArticleBody p {
    margin-bottom: 20px;
}