body {
  margin: 0;
  padding: 0;
  font: 16px 'Lato', sans-serif;
}

h1, h2 {
  text-align: center;
}

h3, h4, h5 {
  margin: 1em 0;
}

h2 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.1em;
}

a {
  /*display: inline-block;*/
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

main {
  margin-bottom: 50px;
}

input {
  line-height: 3.2;
  width: 250px;
  padding: 0 1%;
}

input[type="text"], textarea {
  border: 1px solid #ccc;
}

input[type="submit"] {
  border: none;
}

:global(.button-reverse) {
  color: #fff;
  background: #8c0010;
}

button, :global(.button) {
  padding: 1em;
  border: 1px solid #8c0010;
  background: transparent;
  color: #8c0010;
  transition: 0.2s;
  cursor: pointer;
}

button:hover, :global(.button:hover) {
  background-color: #8c0010;
  color: #fff;
}

:global(.spacer) {
  width: 200px;
  height: 1px;
  background-color: #bdbdbd;
  margin: 40px auto 50px;
}

:global(.row) {
  display: flex;
  margin: 30px 0;
}

:global(.column:nth-child(1)) {
  padding-right: 20px;
}

:global(.column:nth-child(2)) {
  padding-left: 20px;
}