.ServicesList {

}

.ServicesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1320px;
    margin: auto;
}

.ServicesContainer img {
    width: 100%;
}

.Service {
    flex-basis: 33.33%;
}

.Card {
    margin: 20px;
    box-shadow: 2px 5px 20px #aaa;
}

.CardContent {
    padding: 20px;
}

.CardTitle {
    text-align: center;
}

.CardDescription {
    text-align: center;
}
