.ServicesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1320px;
    margin: auto;
}

.ServicesContainer img {
    width: 100%;
}

.Service {
    flex-basis: 33.33%;
}

@media (max-width: 1000px) {
    .Service {
        flex-basis: 50%;
    }
}

@media (max-width: 600px) {
    .Service {
        flex-basis: 100%;
    }
}

.ServiceLink {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.Card {
    height: 100%;
    margin: 20px;
    box-shadow: 2px 5px 20px #aaa;
    transition: 0.3s;
}

@media (max-width: 600px) {
    .Card {
        margin-left: 0;
        margin-right: 0;
    }
}

.Card:hover {
    transform: scale(1.05)
}

.CardContent {
    padding: 20px;
    text-align: center;
}

.CardContent p {
    font-size: 0.8em;
}

.CardContent .Cta {
    display: inline-block;
    font-size: 0.9em;
    color: #fff;
    background-color: #8c0010;
    padding: 0.5em 1em;
    margin: 10px 0;
}

.CardTitle {
    text-align: center;
    margin-top: 10px;
}

.CardDescription {
    text-align: center;
}
